:root {
    --md-primary-fg-color:        teal;
    --md-primary-fg-color--light: teal;
    --md-primary-fg-color--dark:  teal;
  }

  /*
.md-grid {
  max-width: 1440px; 
}
*/

/*
.md-sidebar {
  align-self: flex-start;
  flex-shrink: 0;
  padding: 1.2rem 0;
  position: sticky;
  top: 2.4rem;
  width: 13.1rem;
}
*/

.my-owm-announcement {
  text-align: center;
  color: white;
  font-size: .8rem;
}

.jim_avatar {
  background-image: url('https://avatars.githubusercontent.com/u/47498082');
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}