{% extends "base.html" %}

{% block announce %}
  <!-- Add announcement here, including arbitrary HTML -->
  <p class="my-owm-announcement">This page is under construction</p>
{% endblock %}

{% block content %}
{{ super() }}
<!--<ul>
  {% for toc_item in page.toc %}
      <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
      {% for toc_item in toc_item.children %}
          <li><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
      {% endfor %}
  {% endfor %}
  </ul>-->
  {% endblock %}